[submodule "repo/openvla"]
	path = repo/openvla
	url = https://github.com/openvla/openvla.git

[submodule "repo/libero"]
	path = repo/libero
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
